[submodule "northwell-impulse-common"]
	path = northwell-impulse-common
	url = https://github.com/smalldatalab/northwell-impulse-common.git
[submodule "sdl-rkx"]
	path = sdl-rkx
	url = https://github.com/cornelltech/sdl-rkx.git
[submodule "Bricoleur-ios"]
	path = Bricoleur-ios
	url = https://github.com/cornelltech/Bricoleur-ios.git
[submodule "BridgeAppSDK"]
	path = BridgeAppSDK
	url = https://github.com/cornelltech/BridgeAppSDK
