<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emailForLoginViaExternalId</key>
	<string>rvitale@northwell.edu</string>
	<key>studyIdentifier</key>
	<string>digital-marshmallow</string>
	<key>useCache</key>
	<true/>
	<key>certificateName</key>
	<string>digital-marshmallow</string>
</dict>
</plist>
